.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  cursor: pointer;
}

.user-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  cursor: pointer;
}

body {
  margin: 0;
}

.sign-in-card {
  width: 450px;
  height: 460px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #141415;
  border-radius: 19px;
  text-align: center;
}
.sign-in-form {
  margin-top: 50px;
}

.sign-up-card {
  width: 450px;
  height: 460px;
  margin: 100px auto;
  padding: 30px;
  border: 1px solid #141415;
  border-radius: 19px;
  text-align: center;
}

.nav-link {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #33988A;
}

div#welcome-screen {
  display: block;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.welcome-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.input-text {
  width: 300px;
}







/* DASHBOARD */
.dashboard {
  display: none;
  justify-content: center;
  max-width: 100%;
  padding: 20px;
  height: auto;
  margin: 50px;
  border: 1px solid black;
}

.google-map {
  width: 600px;
  height: 500px;
  margin: 30px;
  padding: 20px;
  border: 1px solid black;
}

.destinations-list {
  width: 200px;
  height: 500px;
  margin: 30px;
  padding: 20px;
  border: 1px solid black;
}
.visited {
  height: 50%;
}
.not-visited {
  height: 50%;

}

.show-page {
  width: 600px;
  height: 500px;
  margin: 30px;
  padding: 20px;
  border: 1px solid black;
}
 /* END OF DASHBOARD */