.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.user-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#lv-logo {
float: right;
margin-right: 10px;
}

html, body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  background-image: url(../assets/images/backgroundImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 46px;
  font-family: Helvetica, sans-serif;
}

#welcome-screen {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 10px;
  max-height: 100%;
}

#welcome-text{
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 50%;
  max-height: 82vh;
}

.welcome-text-title{
  font-size: 9vw;
	font-weight: 900;
	background-color: rgba(51, 51, 51, 0.776);
	color: #fff;
	display: block;
  padding: .5em;
  text-align: center;
  margin-bottom: 19px;
}

#welcome-text h3{
  text-shadow: 1px 1px #ffffffbf;
  color: #333;
  text-align: center;
}

.sign-in-card {
  font-family: Helvetica, sans-serif;
  width: 450px;
  height: 460px;
  margin: 100px auto;
  padding: 30px;
  /* border: 1px solid #141415; */
  border-radius: 19px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.701);
}

.sign-in-card img{
  margin-top: 20px;
  padding: 0;
}

#firstNameSignUpH3 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.sign-in-form {
  margin-top: 50px;
}
#sign-in-submit-btn {
  width: 50%;
  padding: 20px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: rgba(2, 112, 127, 0.975);
  background-color:white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(215, 59, 59, 0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  border-color: rgba(215, 215, 215, 0.975);
  border-width: .5px;
  cursor: pointer;
}

.sign-up-card {
  font-family: Helvetica, sans-serif;
  width: 450px;
  height: 460px;
  margin: 100px auto;
  padding: 30px;
  /* border: 1px solid #141415; */
  border-radius: 19px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.755);
}

#sign-up-submit-btn {
  width: 50%;
  padding: 20px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color:rgba(2, 112, 127, 0.975);
  background-color:white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  border-color: rgba(215, 215, 215, 0.975);
  border-width: .5px;
  cursor: pointer;
}

.nav-link {
  font-family: Helvetica, sans-serif;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.user-greeting {
  font-family: Helvetica, sans-serif;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgba(2, 112, 127, 0.975);
}




.input-text {
  width: 300px;
}

/* create new button on dashboard */

.logo-create-new {
  display: none;
  justify-content: center;
  max-width: 100%;
  height: auto;

  /* background-image: linear-gradient(to right, white, #65ddd3, #11a8a1); */
}


.create-new-destination-btn{
  width: 100%;
  padding: 20px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color:rgba(2, 112, 127, 0.975);
  background-color:white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  border-color: rgba(215, 215, 215, 0.975);
  border-width: .5px;
  cursor: pointer;
}

.show-card .comment-text-area {
  max-height: 300px;
  overflow-y: scroll;
  
}

.show-card h4{
  margin-bottom: 3px;
  margin-top: 10px;
  color:rgba(2, 112, 127, 0.975);
}

.show-card p{
  margin-bottom: 15px;
  margin-top: 3px;
}

/* DASHBOARD */
.dashboard {
  display: none;
  justify-content: center;
  max-width: 100%;
  padding: 10px;
  max-height: 100;
}


.google-maps {
  border-radius: 10px;
  width: 60%;
  height: 83vh;
  margin: 10px;
  padding: 20px;
  background-color: white;
}

.google-maps .firstHeading:hover {
  color: rgba(2, 112, 127, 0.975);
  cursor: pointer;
}

.google-maps .firstHeading {
  margin: 5px;
}

.google-maps p {
  margin: 5px;
}

.destinations-list {
  margin-top: 10px;
  border-radius: 10px;
  width: 40%;
  max-height: 82vh;
  overflow: scroll;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.destinations-list h4 {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 7px;
}

.new-dest-btn-div{
  justify-content: center;
  width: 100%;
  /* margin: 10px; */
  /* padding: 5px; */
}


.visited-div{
  margin-top: 5px;
  overflow-y: scroll;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  bottom: 0;
  height: 43%;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
.visited {
  max-height: 60%;
  overflow-y: scroll;
  font-size: 15px;
  color: black;
  background-color: white;
}
.visited li:hover {
  color: rgba(2, 112, 127, 0.975);
}

.not-visited-div{
  overflow: scroll;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  height: 43%;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  
}
.not-visited {
  max-height: 60%;
  font-size: 15px;
  color: black;
  overflow: scroll;
  background-color: white;
}
.not-visited li:hover {
  color: rgba(2, 112, 127, 0.975);
}

.destination-form {
  margin-top: 10px;
  border-radius: 5px;
  width: 40%;
  max-height: 83vh;
  background-color: white;
  padding: 10px;
  text-align: left;
  overflow-y: auto;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

.destination-form .input-text {
  margin-top: 20px;
  padding: 5px;
  text-align: left;
}

.radio:after {
    content: "";
    position: absolute;
    display: none;
}


.destination-form .cancelFormBtn {
  width: 50%;
  padding: 20px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color:rgba(2, 112, 127, 0.975);
  background-color:white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  border-color: rgba(215, 215, 215, 0.975);
  border-width: .5px;
  display: inline-block;
  cursor: pointer;
}

.destination-form-buttons{
  display: flex;
}


.destination-form #submitbtn {
  width: 50%;
  padding: 20px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color:rgba(2, 112, 127, 0.975);
  background-color:white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  border-color: rgba(215, 215, 215, 0.975);
  border-width: .5px;
  display: inline-block;
  cursor: pointer;
}

.new-destination-form h2 {
  color: rgba(2, 112, 127, 0.975);
  text-align: center;
  margin: 5px;
}


.show-card {
  margin-top: 10px;
  border-radius: 5px;
  width: 40%;
  max-height: 83vh;
  background-color: white;
  padding: 20px;
  text-align: left;
  overflow-y: auto;
  padding: 20px;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(215, 59, 59, 0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  font-family: Helvetica, sans-serif;
}

.show-card h2 {
  text-align: center;
}

.checked {
  color: rgba(29, 196, 197, 0.975);
  border-color: black;
}

.show-card p span{
  float: left;
}

.show-card p span:hover {
  color: rgba(29, 196, 197, 0.975);
  cursor: auto;
}

.show-card-btns {
  display: flex;
}

#edit-destination-btn{
  width: 50%;
  padding: 20px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color:rgba(2, 112, 127, 0.975);
  background-color:white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  border-color: rgba(215, 215, 215, 0.975);
  border-width: .5px;
  display: inline-block;
  cursor: pointer;
}

#delete-destination-btn{
  width: 50%;
  padding: 20px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color:rgba(2, 112, 127, 0.975);
  background-color:white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  border-color: rgba(215, 215, 215, 0.975);
  border-width: .5px;
  display: inline-block;
  cursor: pointer;
}

.destinations-list li {
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}
 /* END OF DASHBOARD */

 hr {
  width:100%; 
  height:1px; 
  background: #fff 
}

.show-card span {
  float: right;
  text-align: right;
  cursor: pointer;
  font-size: 22px;
}

.show-card span:hover {
  color:rgba(2, 112, 127, 0.975);
}

.account-info-card span:hover {
  color:rgba(2, 112, 127, 0.975);
}
.edit-account-card span:hover {
  color:rgba(2, 112, 127, 0.975);
}
.edit-account-card span {
  float: right;
  text-align: right;
  cursor: pointer;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
}
.account-info-card span {
  float: right;
  text-align: right;
  cursor: pointer;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
}

#google-search {
  margin-top: 0;
  width: 98%;
}

#name{
  width: 40%;
}

#date-visited{
  width: 40%;
}

#address{
  width: 40%;
}

#category{
  width: 40%;
}
#comment{
  width: 98%;
  font-family: Helvetica, sans-serif;
  resize: none;
  /* height: 100px; */
}

#cost{
  width: 40%;
}

#attendees{
  width: 40%;
}

#rating{
  width: 40%;
}


.account-info-card {
  margin-top: 10px;
  border-radius: 5px;
  width: 40%;
  max-height: 83vh;
  background-color: white;
  padding: 20px;
  text-align: center;
  overflow-y: auto;
  padding: 20px;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  font-family: Helvetica, sans-serif;
}

.edit-account-card {
  margin-top: 10px;
  border-radius: 5px;
  width: 40%;
  max-height: 83vh;
  background-color: white;
  padding: 20px;
  text-align: center;
  overflow-y: auto;
  padding: 20px;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  font-family: Helvetica, sans-serif;
}

.update-dest-btns {
  display: flex;
}

#edit-account-btn{
  width: 50%;
  padding: 20px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color:rgba(2, 112, 127, 0.975);
  background-color:white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  border-color: rgba(215, 215, 215, 0.975);
  border-width: .5px;
  display: inline-block;
  cursor: pointer;
}

#update-account-btn{
  width: 50%;
  padding: 20px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color:rgba(2, 112, 127, 0.975);
  background-color:white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  border-color: rgba(215, 215, 215, 0.975);
  border-width: .5px;
  display: inline-block;
  cursor: pointer;
}

.edit-destination-div {
  margin-top: 10px;
  border-radius: 5px;
  width: 40%;
  max-height: 83vh;
  background-color: white;
  padding: 20px;
  text-align: left;
  overflow-y: auto;
  padding: 20px;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  font-family: Helvetica, sans-serif;
}

.edit-destination-div h2 {
    text-align: center;
    margin: 5px;
}

.edit-destination-div .input-text {
  margin-top: 3px;
  padding: 5px;
  text-align: left;
}

#updateDestBtn{
  width: 50%;
  padding: 20px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color:rgba(2, 112, 127, 0.975);
  background-color:white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  border-color: rgba(215, 215, 215, 0.975);
  border-width: .5px;
  display: inline-block;
  cursor: pointer;
}

.cancelDestUpdateBtn{
  width: 50%;
  padding: 20px;
  margin:0 0.3em 0.3em 0;
  border-radius:0.2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color:rgba(2, 112, 127, 0.975);
  background-color:white;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
  text-align:center;
  border-color: rgba(215, 215, 215, 0.975);
  border-width: .5px;
  display: inline-block;
  cursor: pointer;
}

#updated-name{
  width: 40%;
}

#updated-date{
  width: 40%;
}

#updated-category{
  width: 40%;
}
#updated-comment{
  width: 98%;
  font-family: Helvetica, sans-serif;
  resize: none;
  /* height: 100px; */
}

#updated-cost{
  width: 40%;
}

#updated-attendees{
  width: 40%;
}

#updated-rating{
  width: 40%;
}

.edit-destination-div h5{
  font-family: Helvetica, sans-serif;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 0px;
}

